/* Réinitialiser les marges et les bordures */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Style pour le conteneur principal */
.container {
    width: 100%;
    max-width: 800px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

/* Style pour le titre principal */
h1 {
    color: #ffcb05; /* Couleur jaune inspirée de la marque Pokémon */
    margin-bottom: 20px;
    font-size: 2em;
}

/* Style pour le formulaire */
form {
    margin-bottom: 20px;
}

/* Style pour les champs de formulaire */
input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    max-width: 200px;
}

/* Style pour le bouton */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffcb05;
    color: #000;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2a50d;
}

/* Style pour les informations sur le Pokémon */
#pokemon-name {
    font-size: 1.5em;
    color: #000;
    margin: 10px 0;
}

#pokemon-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

#pokemon-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

#pokemon-characteristic {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

/* Style pour les erreurs */
.alert {
    color: #ff0000;
    font-weight: bold;
    margin: 20px 0;
}
